.footer,
footer,
.firstLine,
.socialPages,
.infosPart,
.footerInfo,
article {
  display: flex;
}

.footer {
  flex-direction: column;
  padding-bottom: 20px;
  position: relative;

  footer {
    width: 100%;
    gap: 170px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e95ce9;
    .firstLine {
      flex-direction: column;
      justify-content: space-between;
      .socialPages {
        gap: 10px;
        img {
          border: 1px solid #e95ce9;
          background: transparent;
          border-radius: 50%;
          padding: 8px;
          cursor: pointer;
        }
      }
    }
    .infosPart {
      justify-content: space-between;
      width: 100%;
      .footerInfo {
        flex-direction: column;
        gap: 15px;
        h1 {
          color: white;
          font-size: 16px;
          font-weight: 600;
        }
        article {
          gap: 10px;
          align-items: center;
          .text {
            text-decoration: none;
            color: #ffffff;
            font-weight: 300;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              color: #b0b0b2;
            }
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    color: #b0b0b2;
  }
}

@media (max-width: 768px) {
  .footer {
    footer {
      gap: 50px;
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      .firstLine {
        display: flex;
        gap: 50px;
        .logo {
          width: 40%;
        }
      }
      .infosPart {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
      }
    }
  }
}
