@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", serif;
}
body {
  background: #181818;
  position: relative;
}

.container{
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.bg1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50vh;
  z-index: -1;
}

@media (max-width: 768px) {
  .bg2{
    width: 100%;
    overflow: hidden;
    height: auto;
  }
}
